.container {       
    
    background: linear-gradient(0deg, rgba(83, 89, 154, .8) 0%, rgba(128, 222, 217, .8) 100%);
    width: 20rem;        
    border-radius: 8px;
    margin: 50px;
    justify-content: center;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.container:hover{
    background: linear-gradient(0deg, rgba(105, 115, 219, 1) 0%, rgba(138, 255, 249, 1) 100%);
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

img {
    max-width: 90%;
    height: auto;
    margin-top: 15px;
    /* border: solid; */
    /* border-color: rgba(255, 255, 255, 0.929); */
}

h3{
    color: #53599a;
    font-size:2.5rem;
}
h5 {
    color: #000b35;
    font-size: 1.5rem;
}